.comments-container {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #111;
  form {
    margin-bottom: 0;
  }
  input.comment-input {
    color: #eee;
  }
  .new-videos {
    padding-left: 20px;
    border-left: 1px solid #333;
    .video-grid {
      .video-square {
        width: 100%;
      }
    }
  }
}

.comment {
  padding: 0 10px;
  border-left: 5px solid #333;
  margin: 5px 0;
  transition: opacity 1s ease-in-out;
  h5 {
    font-size: 14px;
    margin-bottom: 2px;
    display: inline;
    color: #999;
    .author {
      font-weight: bold;
      letter-spacing: .5px;
    }
  }
  p {
    color: #eee;
  }
  .delete {
    text-transform: uppercase;
    font-size: .5em;
    color: white;
    letter-spacing: .1em;
    font-weight: bold;
    padding: 5px;
    background: tomato;
    display: inline;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
}

input {
  font-size: 14px;
}
