footer {
  width: 100%;
  background: #F2F4F5;
  padding: 40px 0;
  h3 {
    font-size: 18px;
    font-weight: 700;
  }
  ul li {
    list-style: none;
  }
  p.column.column-90.description {
    margin: 0;
    padding: 0;
  }
}
