.login-form {
  .option {
    margin-left: 15px;
    a {
      color: #aaa;
    }
  }
  input {
    font-size: 14px;
  }
}

.login-form-container {
  margin-top: 30px;
}

.errors {
  list-style: none;
  color: tomato;
}
