header.header {
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-link h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.header-group, .login-signup {
  margin-top: 2px;
}

.primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
  z-index: 1;
}

.primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}


.primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:-50px;
	background:#fff;
	padding:10px;
  background: none;
}

.primary_nav_wrap ul li:hover > ul
{
	display:block
}

header {
  .nav-left {
    h1 {
      display: inline;
    }
    ul > li {
      display: inline;
    }
    ul {
      margin-bottom: 0;
    }
    button {
      margin: -5px 0px 0px 30px;
    }
  }
}
