.primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
  z-index: 2;
  cursor: pointer;
	display: flex;
	flex-direction: row;

}

.primary_nav_wrap ul li
{
	position:relative;
	float: right;
	margin:5px 10px;
	padding:0;
}


.primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:-50px;
	padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: black;
}

.primary_nav_wrap ul li:hover > ul
{
	display:block;
  li {
    &:hover {
      font-weight: bold;
    }
  }
}
