.videos-hero {
  height: 400px;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: background 0.5s linear;
  button {
    position: absolute;
    bottom: 40px;
    left: 100px;
  }
}

.videos-list {
  margin-top: 30px;
  a {
    h3 {
      margin: 30px 0px 10px 0px;
    }
  }
}

.video-grid {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  .video-square {
    width: 23.5%;
    margin-top: 10px;
    margin-bottom: 5px;
    @media (max-width: 900px) {
      width: 48%;
    }
    &:hover {
      opacity: .75;
    }
    h5 {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 0px;
      letter-spacing: .025em;
      color: black;
    }
    p {
      color: #606c76;
      margin: 0;
      font-size: 13px;
    }
    img {
      width: 100%;
    }
  }
}
