.video-container {
  background: black;
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .video {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 50px;
      iframe {
        width: 900px;
        height: 450px;
      }
    }
  }
}

.like {
  cursor: pointer;
  i.fa {
    font-size: 24px;
  }
  i.fa-heart {
    color: tomato;
  }
  h5 {
    display: inline;
  }
}

.video-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-size: 28px;
  }
}
