.video-container {
  background: black;
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    .video {
      i {
        font-size: 60px;
        margin: 0 40px;
        cursor: pointer;
      }
      .black {
        color: black;
        visibility: hidden;
      }
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 50px 20px 50px;
      iframe {
        width: 900px;
        height: 450px;
      }
    }
  }
}

.like {
  cursor: pointer;
  i.fa {
    font-size: 24px;
  }
  i.fa-heart {
    color: tomato;
  }
  h5 {
    display: inline;
  }
}

.video-info {
  display: flex;
  width: 900px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  border-top: 1px solid #222;
  margin-top: 20px;
  padding-top: 20px;
  h2 {
    font-size: 28px;
    margin-bottom: 0;
  }
}
.like-modal {
  padding: 20px;
  position: absolute;
  background: #333;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  width: 400px;
  color: #eee;
  h2 {
    margin: none;
  }
}
