@import "font-awesome-sprockets";
@import "font-awesome";

$green: #4FA649;
$grey: #4F5858;
$light-grey: lightgrey;

body, html {
  margin: 0;
  padding: 0;
  background: black;
  a {
    color: $light-grey;
  }
  button {
    background: $grey;
    border-color: $grey;
  }
  input[type='submit'] {
    background: $grey;
    border-color: $grey;
  }
  input[type='text']:focus {
    border-color: $grey;
  }
}
main.container {
  max-width: 1300px;
  padding: 0;
}

:focus {
  border-color: $grey;
  outline: none;
}
