@import "font-awesome-sprockets";
@import "font-awesome";

@import "partials/reset";
@import "partials/nav";
@import "partials/login";
@import "partials/videos";
@import "partials/video_show";
@import "partials/link";
@import "partials/comments";
@import "partials/users";

$green: #4FA649;
$grey: #4F5858;

body, html {
  margin: 0;
  padding: 0;
  a {
    color: $grey;
  }
  button {
    background: $grey;
    border-color: $grey;
  }
  input[type='submit'] {
    background: $grey;
    border-color: $grey;
  }
  input[type='text']:focus {
    border-color: $grey;
  }
}

:focus {
  border-color: $grey;
  outline: none;
}
